@model ProjectManage.Models.Tool
<html>
<head>
    <title>View</title>


    <link href="~/Easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Easyui/themes/color.css" rel="stylesheet" />
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Easyui/locale/easyui-lang-zh_CN.js"></script>
    <script language="javascript" type="text/javascript">

        function submit() {
            $('#form').form('submit', {
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (msg) {
                    $.messager.alert('提示', "保存成功", 'info', function () {
                        window.location.href = "/Tool/Index/";
                    });
                }
            });
        }

    </script>
</head>

<body class="easyui-layout" fit="true">
    <div region="center" border="false" title="工具信息">

        <form border="false" id="form" method="post"
              action="/Tool/Edit/" enctype="application/x-www-form-urlencoded">
            <div region="center" title="主要信息" id="fm" fit="true">

                <div class="ftitle">工具信息</div>
                <div class="fitem">
                    <label>工具名称:</label>
                    <input class="easyui-textbox" required="true" name="ToolName"
                           value="@Model.ToolName" />
                </div>
                <div class="fitem">
                    <label>工具编号:</label>
                    <input class="easyui-textbox" required="true" name="ToolNum"
                           value="@Model.ToolNum" />
                </div>
                <div class="fitem">
                    <label>借出人:</label>
                    <input type="text" class="easyui-textbox" required="true" name="BorrowPerson"
                           value="@Model.BorrowPerson" />
                </div>
                <div class="fitem">
                    <label>使用地点:</label>
                    <input type="text" class="easyui-textbox" name="UsedPlace"
                           value="@Model.UsedPlace" />
                </div>
                <div class="fitem">
                    <label>项目名称:</label>
                    <input type="text" class="easyui-textbox" name="ProjectName"
                           value="@Model.ProjectName" />
                </div>
                <div class="fitem">
                    <label>借出时间:</label>
                    <input type="text" class="easyui-datetimebox" name="BorrowDate"
                           value="@Model.ProjectName" />
                </div>
                <div class="fitem">
                    <label>归还时间:</label>
                    <input type="text" class="easyui-datetimebox" name="ReturnDate"
                           value="@Model.ReturnDate" />
                </div>
                <div class="fitem">
                    <label>工具好坏:</label>
                    @if (Model.ToolStatus == 0)
                    {
                        @:好<input type="radio" style="width:60px" name="ToolStatus" value="0" checked="checked" />坏<input type="radio" style="width:60px" name="ToolStatus" value="1" />
                    }
                    else
                    {
                        @:好<input type="radio" style="width:60px" name="ToolStatus" value="0" />坏<input type="radio" style="width:60px" name="ToolStatus" value="1" checked="checked" />
                    }
                </div>

                <div class="fitem">
                    <label>备注:</label>
                    <input type="text" class="easyui-textbox" name="Memo"
                           value="@Model.Memo" />
                </div>
                <input type="hidden"  name="Id" value="@Model.Id"/>
            </div>
        </form>



        <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
            background-color: #f7f7f7;">
            <table style="width: 100%">
                <tr>
                    <td></td>
                    <td style="text-align: right">

                        <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit();">提交</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="location.href = document.referrer;">
                            返回
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>


